<ul>
  <% posts.each( function(post){ %>
  <li><a href="#posts/<%= post.id%>"><%= post.escape('title') %></a>
    <button data-id="<%= post.id %>" class="delete">Delete</button>
  </li>

  <% }); %>
</ul>
